body {
    font-family: 'Nunito', sans-serif;
    /* background-color: #e9ebf7; */
}

.brand, .section-title {
    font-family: 'Philosopher', sans-serif;
}

.menu-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
	bottom: 4px;
    position: relative;
}

.menu-item a:hover::after {
    width: 100%;
    transition: width .3s;
}

.fas.fa-angle-right.clr-gry.slick-arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 9;
    font-size: 25px;
    z-index: 1;
}

.fas.fa-angle-left.clr-gry.slick-arrow {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 25px;
    z-index: 1;
}

.footer-brand {
    font-family: 'Philosopher', sans-serif;
}

.prev_next_post_label span {
    font-size: 10px;
}

.prev_next_post_label i {
    font-size: 12px;
    margin-top: -2px;
}

.after-hr::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 55%;
    top: 50%;
    right: 0;
    background-color: silver;
}

.useful_links_menu .menu-item a:hover::after {
    width: 0%;
}

.codeblock {
	background: 0% 0%/auto repeat #abb8c3;
	max-width: 100%;
	max-height: 27.5%;
	white-space: pre-wrap;
}

.codeDiv {
    box-shadow: rgb(0 0 0 / 55%) 0px 20px 68px;
    margin: 30px;
	padding: 0 30px;
    background-color: #151718;
    color: #fff;
    border-radius: 5px;
	font-size: 12px;
}

.codeDiv p {
    overflow-x: auto;
}